{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset class="box">
    <h1>{{ question.question_text }}</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <div class="box"><input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"></div>
        <div class="box"><label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label></div><br>
    {% endfor %}
</fieldset>
<input class="box" type="submit" value="Vote">
</form>
