body {
    background-color: #e0e0e0;
    color: #31344b;
}

.box {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  3px 3px 6px #bebebe,
                -3px -3px 6px #ffffff;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    width: 8%;
    text-align: center;
    padding: 5px 0px;
    margin-bottom: 10px;
}

fieldset {
    border: none;
    width: 15%;
}

input {
    border: none;
    float: left;
}

.again {
    width: 7%;
    text-align: center;
    padding: 2px 0px;
}